<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans  
										  http://www.springframework.org/schema/beans/spring-beans-3.0.xsd  
										  http://www.springframework.org/schema/context  
										  http://www.springframework.org/schema/context/spring-context-3.0.xsd">

	<context:component-scan base-package="ifi.librarian" />

	<!-- Resolves Views Selected For Rendering by @Controllers to *.jsp Resources in the /WEB-INF/ Folder -->
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/views/" />
		<property name="suffix" value=".jsp" />
	</bean>
	
	<bean id="LoginService" 		class="ifi.librarian.login.service.LoginService"/>
	<bean id="AppUtils" 			class="ifi.librarian.login.service.AppUtils"/>
	
	<bean id="DatabaseUser" 		class="ifi.librarian.login.DAO.DatabaseUser"/>
	
	<bean id="BookService" 			class="ifi.librarian.bookmanagement.service.BookService"/>
	<bean id="DatabaseBook" 		class="ifi.librarian.bookmanagement.DAO.DatabaseBook"/>
	
	<bean id="AuthorService" 		class="ifi.librarian.authormanagement.service.AuthorService"/>
	<bean id="DatabaseAuthor" 		class="ifi.librarian.authormanagement.DAO.DatabaseAuthor"/>
	
	<bean id="DatabaseUserList" 	class="ifi.librarian.usermanagement.DAO.DatabaseUserList"/>
	<bean id="UserService" 			class="ifi.librarian.usermanagement.service.UserService"/>
	
	<bean id="DatabaseBuying" 		class="ifi.librarian.buyingbook.DAO.DatabaseBuying"/>
	<bean id="BuyingService" 		class="ifi.librarian.buyingbook.service.BuyingService"/>
</beans>